{% extends 'base.html' %}

{% load bootstrap %}

{% block main %}

    <section class="container mt-2 mb-5">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="card-header col-6">
                            <i class="fa fa-align-justify"></i>Lista de Clientes
                        </div>
                            <form class="form-inline card-header col-6">
                                <input class="form-control mr-sm-2" type="search" placeholder="Digite sua busca" aria-label="Search" id="pesquisa" name="pesquisa">
                                <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                            </form>
                    </div>
                        <div class="card-body">
                            <table class="table table-hover table-lg">
                                <thead>
                                    <tr>
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            Cnpj
                                        </th>
                                        <th>
                                            inscricaoestadual
                                        </th>
                                        <th>
                                            E-mail
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for Cliente in object_list %}
                                        <tr>
                                            <td>
                                                {{ Cliente.nome }}
                                            </td>
                                            <td>
                                                {{ Cliente.cnpj }}
                                            </td>
                                            <td>
                                                {{ Cliente.inscricaoestadual }}
                                            </td>
                                            <td>
                                                {{ Cliente.email }}
                                            </td>
                                            <td>
                                                <div>
                                                    <a href="{% url 'cliente_update' Cliente.id %}">
                                                        <button type="button" class="btn btn-primary" >
                                                            Alterar
                                                        </button>
                                                    </a>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                                        Deletar
                                                    </button>
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-danger" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Deletar</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#dangerModal">
                                                                    <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                            <div class="modal-body">
                                                                Tem certeza que deseja deletar o cliente {{ cliente.nome }} ?
                                                            </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                                    <a href="{% url 'cliente_delete' Cliente.id %}">
                                                                        <button type="button" class="btn btn-danger" >
                                                                        Excluir
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>

        <div class="rounded border shadow pt-4 pr-4 pl-4 table-responsive-lg bg-white">
        </div>
        <div class="mt-4 offset-md-10">
            <a class="btn btn-success shadow" href="{% url 'cliente_create' %}">Novo</a>
            <a class="btn btn-secondary shadow" href="{% url 'cadastro' %}">Volta</a>
        </div>
    </section>

{% endblock %}