{% extends 'base.html' %}

{% load bootstrap %}

{% block main %}

    <section class="container mt-2 mb-5">
        <nav class="navbar">
          <a class="navbar-brand"></a>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Digite sua busca" aria-label="Search" id="pesquisa" name="pesquisa">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </nav>
        <div class="rounded border shadow pt-4 pr-4 pl-4 table-responsive-lg bg-white">
            <table class="table table-hover table-lg">
                <thead>
                    <tr>
                        <th>
                            Endereço
                        </th>
                        <th>
                            Número
                        </th>
                        <th>
                            Cidade
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Logradouro
                        </th>
                        <th>
                            CEP
                        </th>
                        <th>
                            Bairro
                        </th>
                        <th>
                            Cliente
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for Endereco in object_list %}
                            <tr>
                                <td>
                                    {{ Endereco.endereco}}
                                </td>
                                <td>
                                    {{ Endereco.numero }}
                                </td>
                                <td>
                                    {{ Endereco.cidade }}
                                </td>
                                <td>
                                    {{ Endereco.estado }}
                                </td>
                                <td>
                                    {{ Endereco.logradouro }}
                                </td>
                                <td>
                                    {{ Endereco.cep }}
                                </td>
                                <td>
                                    {{ Endereco.bairro }}
                                </td>
                                <td>
                                    {{ Endereco.cliente }}
                                </td>
                                <td>
                                    <div>
                                        <a href="{% url 'endereco_update' Endereco.id %}">Alterar</a>
                                        <a href="{% url 'endereco_delete' Endereco.id %}">Deletar</a>
                                    </div>
                                </td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mt-4 offset-md-10">
            <a class="btn btn-success shadow" href="{% url 'endereco_create' %}">Novo</a>
            <a class="btn btn-secondary shadow" href="{% url 'cadastro' %}">Volta</a>
        </div>
    </section>

{% endblock %}