{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

    <div class="container">
        <section class="mt-5">

            <div class="row">
              <div class="col-lg-4 pt-2">
                <div class="card">
                  <div class="card-body shadow">
                    <h5 class="card-title">Usuarios</h5>
                    <p class="card-text">Cadastrar novos usuarios.</p>
                    <div class="offset-lg-6">
                        <a href="{% url 'usuario_list' %}" class="btn btn-secondary">lista</a>
                        <a href="{% url 'usuario_create' %}" class="btn btn-success">novo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 pt-2">
                <div class="card">
                  <div class="card-body shadow">
                    <h5 class="card-title">Perfil</h5>
                    <p class="card-text">Cadastrar novos Perfils </p>
                    <div class="offset-lg-6">
                        <a href="{% url 'perfil_list' %}" class="btn btn-secondary">lista</a>
                        <a href="{% url 'perfil_create' %}" class="btn btn-success">novo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 pt-2">
                <div class="card">
                  <div class="card-body shadow">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Cadastrar novos Clientes</p>
                    <div class="offset-lg-6">
                        <a href="{% url 'cliente_list' %}" class="btn btn-secondary">lista</a>
                        <a href="{% url 'cliente_create' %}" class="btn btn-success">novo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 pt-2">
                <div class="card">
                  <div class="card-body shadow">
                    <h5 class="card-title">Tipos de sala</h5>
                    <p class="card-text">Cadastrar novos tipos de sala</p>
                    <div class="offset-lg-6">
                        <a href="{% url 'tiposala_list' %}" class="btn btn-secondary">lista</a>
                        <a href="{% url 'tiposala_create' %}" class="btn btn-success">novo</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </section>
        <section>


        </section>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </div>
{% endblock %}