{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block main %}
    <div class="container mt-5">
        <section>
            <div class="row">
              <div class="col-lg-4 pt-2">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <p class="card-text">Cadastrar novos usuarios.</p>
                    <div class="offset-lg-6">
                        <a href="{% url 'usuario_list' %}" class="btn btn-secondary">lista</a>
                        <a href="{% url 'usuario_create' %}" class="btn btn-success">novo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 pt-2">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body">
                    <h5 class="card-title">Perfil</h5>
                    <p class="card-text">Cadastrar novos Perfils </p>
                    <div class="offset-lg-6">
                        <a href="{% url 'perfil_list' %}" class="btn btn-secondary">lista</a>
                        <a href="{% url 'perfil_create' %}" class="btn btn-success">novo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 pt-2">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Cadastrar novos Clientes</p>
                    <div class="offset-lg-6">
                        <a href="{% url 'cliente_list' %}" class="btn btn-secondary">Lista</a>
                        <a href="{% url 'cliente_create' %}" class="btn btn-success">Novo</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
    </div>
{% endblock %}